.currency-rate-table-container {
  width: 400px;
  padding: 10px 10px;
}

.balance-table-container {
  width: 400px;
  padding: 10px 10px;
}

.transaction-table-container {
  width: 100%;
  padding: 10px 10px;
}

.info-box-r {
  position: absolute;
  top: 48px;
  left: 391px;
}

.row-fail-transaction {
  color: red;
}
